.movieList{
    display: flex;
    flex-wrap: wrap;
    margin: 0px, -15px;  
}
.movieList .movie{
    width: 33.33333333%;
    display: flex;
    min-width: 250px;
    padding: 15px;
    cursor: pointer;
    flex-direction: column;
}

.movieList .movie img{
    display: block;
    width: 100%;

}

.movieList .movie h3{
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: #445565;
    transition-property: background-color, color;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}
.movieList .movie:hover h3{

    color:#223343;
    background-color: #fff;
}
