.movie-list{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-list .movie{
    
    width: 33.33333333%;
    min-width: 250px;
    padding: 15px;
    cursor: pointer;
    flex-direction: column;
}

.movie-list .movie img{
    display: block;
    width: 100%;

}

.movie-list .movie h3{
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: #445565;
    transition-property: background-color, color;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}
.movie-list .movie:hover h3{

    color:#223343;
    background-color: #fff;
}
