*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #223343;
}

.content{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.content Error{
  margin-top: 80px;
  font-size: 25px;
  color: #fff;    
}